.header {
  height: 120px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  background: #B5C2C6;
  border-bottom: 3px solid #d3e2e1;
}

.header__logo-wrapper {
  flex: 1;
}

.header__title {
  font-family: 'Parisienne', cursive;
  font-size: 4rem;
  flex: 4;
  text-align: center;
}

.header__padding {
  flex: 1;
}