.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.list__header {
  flex-basis: 100%;
  text-align: center;
  font-size: 2rem;
}

.list--1-col .list-item {
  flex-basis: 100%;
}

.list--2-col .list-item {
  flex-basis: 45%;
}