.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
}

.list__header {
  flex-basis: 100%;
  text-align: center;
  font-size: 2rem;
}

.list--1-col .list-item {
  flex-basis: 100%;
}

.list--2-col .list-item {
  flex-basis: 48%;
}

/* Force final element in list to left-align by creating pseudoelement at end of list */
.list--2-col::after {
  content: "";
  flex-basis: 48%;
}