/* Imports (external) */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/* Imports (local) */
@import 'header.css';
@import 'list.css';
@import 'card.css';

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Core styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #eee;
}

/* Utilities */
.container {
  padding: 2rem;
}