/* Imports (external) */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/* Imports (local) */
@import 'header.css';
@import 'list.css';
@import 'card.css';
@import 'fish.css';
@import 'quote.css';
@import 'location.css';
@import 'tip.css';

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Core styles */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
}

.col--left {
  flex: 3;
}

.col--right {
  flex: 1;
}