.tip-list {
  height: 100%;
  padding: 2rem;
  background: #00FFCD;
  align-content: flex-start;
}

.tip-list__header {
  margin-bottom: 2rem;
}

.tip-list__text-list {
  list-style-type: none;
}

.tip {
  font-size: 0.9rem;
}

.tip::after {
  content: '';
  height: 1px;
  display: block;
  background: rgba(0,0,0,0.2);
  width: 200px;
  margin: 1rem auto;
}

.tip:last-child::after {
  display: none;
}